<%= javascript_include_tag 'MochiKit/packed/MochiKit/MochiKit.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/yuiloader/yuiloader-min.js' %>

<%= javascript_include_tag '/config/js_loader_definitions' %>
<h1>Create a list of sequences to build a <%= link_to "summary", :action => 'summary' %> for</h1>
<h2>Build a structure and add to the list (<%= @sequences.size%> sequences - <%= link_to "List", :action => 'list'%>)</h2>
<form method="POST">
<input type="text" id="id" name="id" value="<%= params[:id] %>"/>
<input type="submit" value="Add sequence"/>
</form>
<h2>Paste in a list of sequences in IUPAC condensed (GlycoSuite) format, seperating each line with a newline</h2>
<form method="POST">
	<input type="submit" value="Add sequences"/><br/>
	<textarea name="seqs"/>
</form>
<script type="text/javascript">
//<![CDATA[

if (typeof(ECDB) == 'undefined') {
	ECDB = {};
}

function onloader()
{
	var a_div = ECDB.SugarBuilderWidget($('id'));
	$('id').parentNode.appendChild(a_div);
	a_div.style.position = 'relative';
	a_div.style.minHeight = '300px';
	a_div.style.border = 'solid black 1px';
	$('id').style.display = 'none';
}

connect(window, 'onload', function() { connect(ECDB,'sugarbuilder_ready',onloader)});

//]]>
</script>
