<%= javascript_include_tag 'MochiKit/packed/MochiKit/MochiKit.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/yuiloader/yuiloader-min.js' %>

<%= javascript_include_tag '/config/js_loader_definitions' %>
<h1>Use the tool</h1>

<p>The tool produces a diagram that summarises a user-specified set of glycan structures.</p>

<p>Sets of structures can be specified via the Sugar Builder. This is handy if you don’t know the IUPAC nomenclature.</p>
<p>Alternatively, sets of structures in IUPAC format can be provided as a list.</p>

<p>Once the set of structures has been entered, press the ‘Build Summary’ button.</p>

<h1>Create a list of sequences to build a  for</h1>
<h2>Sugar Builder</h2>
<input type="button" onclick="window.open('<%= %>')" value="Help"/>
<form method="POST">
<input type="text" id="id" name="id" value="<%= params[:id] %>"/>
<input type="submit" value="Add sequence"/><input type="button" value="New structure" onclick="$('id').value = '';"/>
</form>
<h2>Paste in a list of sequences in IUPAC structures, one per line</h2>
<form method="POST">
	<textarea name="seqs"/><br/>
	<input type="submit" value="Add sequences"/>
</form>
<h2>List currently contains <%= @sequences.size%> sequences. Click <%= link_to "here", :action => 'list'%> to view the list.</h2>
<input type="button" value="Build summary" onclick="window.location = '<%= url_for :action => 'summary' %>';"/> <input type="button" value="Clear glycan list" onclick="window.location = '';"/>
<script type="text/javascript">
//<![CDATA[

if (typeof(ECDB) == 'undefined') {
	ECDB = {};
}

function onloader()
{
	var a_div = ECDB.SugarBuilderWidget($('id'));
	$('id').parentNode.appendChild(a_div);
	a_div.style.position = 'relative';
	a_div.style.minHeight = '300px';
	a_div.style.border = 'solid black 1px';
	$('id').style.display = 'none';
}

connect(window, 'onload', function() { connect(ECDB,'sugarbuilder_ready',onloader)});

//]]>
</script>
