<%= javascript_include_tag 'MochiKit/packed/MochiKit/MochiKit.js' %>
<%= javascript_include_tag 'lib/XHtmlDOM.js' %>
<%= javascript_include_tag 'lib/sugarbuilder.js' %>
<%= javascript_include_tag 'lib/sugarbuilder_pallette.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/element/element-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/dragdrop/dragdrop-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/container/container-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/tabview/tabview-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/slider/slider-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/resize/resize-min.js' %>
<%= stylesheet_link_tag 'glycodbs/structure_summary.css' %>
<%= javascript_include_tag 'lib/structure_summary_page.js' %>
<script type="text/javascript">
	function onloader() {
		out_canvases = XHtmlDOM.getElementsByClassName('result_structure',document);
		for ( a_canvas in out_canvases ) {
			sugar_canvas = out_canvases[a_canvas];
			mysvg = sugar_canvas.getElementsByTagNameNS('http://www.w3.org/2000/svg','svg')[0];

			if (mysvg) {
				original_width = mysvg.getAttribute('width');
				sugar_canvas_width = MochiKit.Style.getElementDimensions(sugar_canvas).w;

				scale = sugar_canvas_width / original_width;

				sugar_canvas.targetSVG = mysvg;
				a_slider = connect_slider(sugar_canvas);
				a_slider.setScale(scale);
				
			}
			
			
		}
		
		sugar_results = XHtmlDOM.getElementsByClassName('sugar_result',document);

		for ( a_result in sugar_results ) {
			a_printer = XHtmlDOM.getElementsByClassName('print_button',sugar_results[a_result])[0];
			connect(a_printer,'onclick',partial(do_summary_printing,sugar_results[a_result]));
		}
		build_tabs();
	}
	
	connect(window,'onload',onloader);
</script>
<div id="coverage_tabs" class="yui-navset" style="width: 95%;">
	<ul class="yui-nav">
<% seen_first = true %>
<% names = @sugars.collect { |sugset| sugset.compact.first.root.name(:ic) }%>
<% for root_name in names %>
		<li <%= seen_first ? 'class="selected"' : '' %>><a><%= root_name %></a></li>
		<% seen_first = false %>
<% end %>
	</ul>
<div class="yui-content">
<% for compared_sugars in @sugars %>
<div class="sugar_result">
<div>
<div><input type="button" class="print_button" value="Print"/></div>
<div class="report_title">
<% for sugar in compared_sugars %>
<div style="width: 49%; float: left;">
	<% human_tags = sugar ? sugar.name.split(',').collect { |tag| tag.gsub!(/^.*:/,''); tag.capitalize } : ['No glycans'] %>
	<h1><%= human_tags.join(',') %> <%= sugar ? sugar.root.hits.to_s+' structures ' : '' %>  <%= sugar ? sugar.reference_count.to_s+' references ' : '' %> </h1>
</div>
<% end %>
<div style="clear: both; float: none;"/>
</div>
<% for sugar in compared_sugars %>
<div class="result_structure" style="float: left; height: 600px; width: 49.5%; position: relative;">
<div style="position: relative; overflow: auto; height: 100%; width: 100%;">
	<% if sugar != nil %>
	<% @sugar = sugar %>
	<%= render :partial => "sviewer/render", :locals => { :sugar => sugar, :scale => 0.5, :padding => 200, :scheme => :composite } %>
	<% end %>
</div>
</div>
<% end %>
<!-- end result_structure -->
<div style="clear: both; float: none;"/>
<!-- end sugar_result -->
</div>
<div class="sugar_graphs">
<%

value_multiplier = 1
counts_keys = [] 
counts_values = []
biggest_bar = 0
data_for_label = {}
%>

<% 	for sugar in compared_sugars.reverse
		next unless sugar
	 	(0..@max_branch_point_size).each { |branch_count|
			value = sugar.collected_statistics[:branch_points_count][branch_count]
	       	counts_keys << branch_count.to_s
		   	counts_values << (100 * (value || 0.0001).to_f / sugar.root.hits)  * value_multiplier
	 	}
	 	branch_points = @sorted_branch_points
		
		all_labels = branch_points.collect { |k| k.branch_label }
		branch_points_by_label = {}
		branch_points.each { |bp|
			if sugar.residue_composition.include? bp
				branch_points_by_label[bp.branch_label] = bp
			end
		}
		
		for bp_label in all_labels.uniq
			branch_point = branch_points_by_label[bp_label]
			if ! sugar.collected_statistics[:branch_totals_by_point][branch_point]
				data_for_label[bp_label] ||= { :labels => [], :values => [] }
				data_for_label[bp_label][:labels] += all_labels.uniq
				data_for_label[bp_label][:values] += [0.0001 * value_multiplier]*all_labels.uniq.size
				next
			end
			self_value = sugar.collected_statistics[:branch_totals_by_point][branch_point][branch_point]
			data_for_label[bp_label] ||= { :labels => [], :values => [] }
			data_for_label[bp_label][:labels] += all_labels.uniq
			data_for_label[bp_label][:values] += all_labels.uniq.collect { |lab|
													other_bp = branch_points_by_label[lab]
													((sugar.collected_statistics[:branch_totals_by_point][branch_point][other_bp] || 0.0001).to_f * 100 * value_multiplier / self_value)
												 }
		end
		value_multiplier *= -1

	end %>
	
	<div class="summary_branch_graphs">
	<% for label in data_for_label.keys %>
	<div class="single_branch_graph">
		<div>Branch <%= label %></div>
		<div class="branch_graph_svg">
			<%= render_hash_as_bar_chart(data_for_label[label][:labels],data_for_label[label][:values],{ :total_height => -100, :fills => ['#999999','#666666'], :y_axis_label => 'Normalised branch reports', :colour_for_label => { label => '#333333' }, :label_groups => ['Right structure','Left structure'] } ) %>
		</div>
	</div>
	<% end %>
	
	<div class="single_branch_graph single_branch_graph_wide">
	<div class="branch_graph_svg branch_graph_svg_wide">
		<div>Branching</div>
		<%= render_hash_as_bar_chart(counts_keys,counts_values,{ :total_height => [counts_values.min.abs,counts_values.max].max,:fills => ['#999999','#666666'], :y_axis_label => 'Total structures',:label_groups => ['Right structure','Left structure']} )%>
		</div>
	</div>
	</div>

</div>
<!-- end sugar_result -->
</div>
<% end %>
</div>
</div>