<%= javascript_include_tag 'MochiKit/packed/MochiKit/MochiKit.js' %>
<%= javascript_include_tag 'lib/XHtmlDOM.js' %>
<%= javascript_include_tag 'lib/sugarbuilder.js' %>
<%= javascript_include_tag 'lib/sugarbuilder_pallette.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/element/element-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/dragdrop/dragdrop-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/container/container-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/tabview/tabview-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/slider/slider-min.js' %>
<%= javascript_include_tag 'lib/structure_summary_page.js' %>
<%= stylesheet_link_tag 'glycodbs/structure_summary.css' %>
<script type="text/javascript">
//<![CDATA[

	function onloader() {

		out_canvases = XHtmlDOM.getElementsByClassName('result_structure',document);
		for ( a_canvas in out_canvases ) {
			sugar_canvas = out_canvases[a_canvas];
			mysvg = sugar_canvas.getElementsByTagNameNS('http://www.w3.org/2000/svg','svg')[0];

			sugar_canvas.targetSVG = mysvg;
			connect_slider(sugar_canvas);
			connect_buttons(sugar_canvas);		

		}
		build_tabs();
	}
		
	connect(window,'onload',onloader);
//]]>	
</script>
<% human_tags = params[:id].split(',').collect { |tag| tag.gsub!(/^.*:/,''); tag.capitalize }%>
<h1 id="report_title">Coverage for tags: <%= human_tags.join(',') %></h1>
<div id="coverage_tabs" class="yui-navset" style="width: 95%;">
	<ul class="yui-nav">
<% seen_first = true %>
<% for sugar in @sugars %>
		<li <%= seen_first ? 'class="selected"' : '' %>><a><%= sugar.root.name(:ic) %></a></li>
		<% seen_first = false %>
<% end %>
	</ul>
<div class="yui-content">
<% for sugar in @sugars %>
	<% @sugar = sugar %>
<div class="sugar_result">

<div class="branch_points_data" style="position: relative;">

<div class="branch_graphs">
	<%= render :partial => "summary_branch_graphs", :locals => { :sugar => sugar } %>
	<div style="clear:both; height: 0px; float: none;"></div>
</div>
<!-- end branch_points_data -->
</div>


<div class="result_structure">
<input type="button" class="gene_toggle" value="Toggle gene display"/>
<input type="button" class="hits_toggle" value="Toggle hits display"/>
<input type="button" class="print_button" value="Print"/>
<div style="position: relative; overflow: auto; height: 600px; width: 100%;">
	<%= render :partial => "sviewer/render", :locals => { :sugar => sugar, :scale => 0.5, :padding => 200, :scheme => :composite } %>
</div>
<!-- end result_structure -->
</div>

<!-- end sugar_result -->
</div>
<% end %>
</div>
<!-- end coverage_tabs -->
</div>
<%= render :partial => "sugar_key" %>
