<%= javascript_include_tag 'MochiKit/packed/MochiKit/MochiKit.js' %>
<%= javascript_include_tag 'lib/XHtmlDOM.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/element/element-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js' %>
<%= javascript_include_tag 'http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js' %>
<style type="text/css">
.yui-skin-sam .yui-dt-body { cursor:pointer; } /* when rows are selectable */
</style>
<input type="text" value="" id="tags"/><input type="button" id="tag_button" value="Tag"/>
<div class=" yui-skin-sam">
<div id="glycodb_results">
<table id="glycodbs">
<thead>
	<tr>
		<th>ID</th><th>System</th><th>Division 1</th><th>Division 2</th><th>Division 3</th><th>Division 4</th><th>Disease</th>
	</tr>
</thead>
<tbody>
<% for glycodb in @glycodbs %>
<tr><td><%= glycodb.id %></td><td><%= glycodb.SYSTEM %></td><td><%= glycodb.DIVISION1 %></td><td><%= glycodb.DIVISION2 %></td><td><%= glycodb.DIVISION3 %></td><td><%= glycodb.DIVISION4 %></td><td><%= glycodb.DISEASE != '' ? glycodb.DISEASE : 'healthy' %></td></tr>
<% end %>
</tbody>
</table>
</div>
</div>
<script type="text/javascript">

	function blerg() {
		alert("bb");
	}

    function markupTable() {
        var myColumnDefs = [
            {key:"id",label:"ID",sortable:true},
            {key:"system",label:"System", sortable:true},
            {key:"division_1",label:"Division 1",sortable:true},
            {key:"division_2",label:"Division 2",sortable:true},
            {key:"division_3",label:"Division 3",sortable:true},
            {key:"division_4",label:"Division 4",sortable:true}
        ];

        myDataSource = new YAHOO.util.DataSource($('glycodbs'));
        myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        myDataSource.responseSchema = {
            fields: [{key:"id"},
                    {key:"system"},
                    {key:"division_1"},
                    {key:"division_2"},
                    {key:"division_3"},
                    {key:"division_4"}
            ]
        };

        myDataTable = new YAHOO.widget.DataTable("glycodb_results", myColumnDefs, myDataSource,
                {caption:"Glycodb Results",
                sortedBy:{key:"id",dir:"desc"}}
        );

        myDataTable.subscribe("rowMouseoverEvent", myDataTable.onEventHighlightRow);
        myDataTable.subscribe("rowMouseoutEvent", myDataTable.onEventUnhighlightRow);
        myDataTable.subscribe("rowClickEvent", myDataTable.onEventSelectRow);
		myDataTable.selectRow(myDataTable.getTrEl(0));
		this.dataTable = myDataTable;
		
    }

	function show_selected(data_source) {
		selected_rows = data_source.getSelectedRows();
		for ( row in selected_rows ) {
			data_source.getRecordSet().getRecord(parseInt(row)).getData('id');
		}
	}

	function onloader() {
		markupTable();
		connect($('tag_button'),'onclick',partial(show_selected,this.dataTable));
	}

	connect(window, 'onload', onloader);
</script>